:root{
  --blueprincipal: hsl(240, 100%, 65%);
  --blueSecondarie: rgb(23, 163, 194);
  --blueh2:#035062;
}

header{
background-color: var(--blueprincipal);
color: white;
display: flex;
flex-direction: column;
}

h2 {
  background:var(--blueh2);
  color: white;
  border-radius: 1vh;
  text-align: center;
  margin: 1vh auto;
  padding: 1.5vh;
  width: 30%;
}

.container-proyects{
  display: flex;
  background-color: var(--blueprincipal);
  margin: 1vh auto;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
}

.proyect{
  margin: 1vh 0;
  padding: 1vh;
  border-radius: 1vh;
  display: flex;
  background-color: var(--blueSecondarie);
  width: 20%;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.img-proyects{
  width: 100%;
  border-radius: 1vh;
  margin: 0 auto;
}

.pArticle{
  padding: 2vh;
  height: 50%;
  background-color: white;
  margin: 2vh;
  border-radius: 1vh;
}

.article-div{
  margin: 1vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 5vh 1vh 0;
}

.titles{
  width: 50%;
  padding: 1vh auto;
}

span{
  border-radius: 1vh;
  padding: 1vh;
  font-size: 5vh;
  width: 2vh;
  color: #ffffff;
  background-color: hsl(41, 95%, 59%);
}

.contenedor-imagen-condensador{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imagen-condensador{
  width: 40%;
  margin: 2vh auto;
  border-radius: 2vh;
}

.title-span{
 margin: 5vh 5vh;
}

ul{
  list-style: none;
}

li{
  font-size: larger;
  color: #035062;
}

.img-adv{
  width: 95%;
  border-radius: 1vh;
}

.img-articles{
  width: 20%;
}

.content-article{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

p{
  font-size: larger;
  text-align: justify;
}

a{
  text-decoration: none;
  color: white;
}

.tatoo{
  background-color: black;
}

.redes{
  display: flex;
  margin: 1vh auto;
  width: 80%;
  justify-content: space-around;
  flex-direction: row;
}
nav{
  display: flex;
  background:var(--blueSecondarie);
  height: 3vw;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
  padding: 1vh 0;
  border-bottom: 1vh solid hsl(222, 34%, 25%);
}

.nav-options{
  color: hsl(0, 0%, 100%);
    font-size: 1.5vw;
    border-radius: 0.4vw;
    padding: 0.2vh;
    text-decoration: none;
    width: 12vw;
    margin: 0.3vw 0.4vw 0;
    height: 4vw;
}




h1{
  color: rgb(255, 255, 255);
  text-align: center;
  background:var(--blueSecondarie);
  width: 80%;
  margin: 2vh auto;
  border-radius: 1vh;
}

.img_redes{
  color: hsl(0, 0%, 100%);
    font-size: 1.5vw;
    border-radius: 0.4vw;
    padding: 0.2vh;
    text-decoration: none;
    width: 4vw;
    height: 100%;
}

.img_redes:hover{
  background:var(--blueSecondarie);
}

.content{
  display: flex;
  background:var(--blueprincipal);
  width: 100%;
  height: 100%;
  padding: 1vh 0;
}

.content-articles{
  margin: 1vh;
  width: 79.5%;
}

.articles{
 background: var(--blueSecondarie);
 width: 100%;
 margin: 3vh 0;
 border-radius: 1vh;
 height: auto;
}

.content-advertisements{
  display: flex;
  flex-direction: column;
  width: 19%;
}

.advertisements{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background:var(--blueSecondarie);
  width: 100%;
  border-radius: 1vh;
  margin-top: 4vh;
}

.content-promos{
  display: flex;
  justify-content: center;
  border-radius: 1vh;
  width: 85%;
  height: 85%;
  padding: 1vh;
  background-color: white;
  margin: 2vh auto;
}

footer{
  display: flex;
  justify-content: space-around;
  padding: 1vh;
  background:var(--blueSecondarie);
  color: white;
}

.img-footer{
  width: 1.5vw;
  height:3vh;
  margin-right: 0.5;
}

.imagen-bio{
  width: 20vh;
}

.numero-whats{
 margin-left: 1vh;
}

.about{
  display: flex;
  padding: 5%;
  flex-direction: column;
  align-items: center;
  background-color: #c7c7c7;
}

.content-numero-whats{
  display: flex;
  align-items: center;
}

@media (max-width:640px){
  h1{
    width: 95%;
    font-size: 10vh;
  }

nav{
  height: 6vh;
  font-weight: 800;
  font-size: large;
  text-align: center;
}

.img_redes{
  width: 12vw;
}

.img-articles{
  display: none;
}

  .nav-options{
    font-size: 100%;
  }

  .content{
    flex-direction: column;
    align-items: center;
  }
  .articles{
    width: 95%;
  }

  .advertisements{
   width: 95%;
  }

  article {
    width: 100%;
  }

  .content-articles{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  article h2{
    text-align: center;
    width: 95%;
    margin: 1vh auto;
    padding: 0;
  }

  .content-advertisements{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .advertisements{
    margin-top: 0;
    margin-bottom: 5%;
  }

  .content-promos{
    margin: 2%;
    width: auto;
  }

  footer{
    flex-direction: column;
  }

  .img-footer{
    width: 4vw;
  }

  .titles{
    width: 95%;
    font-size: 3vh;
  }

  .title-span{
    font-size: 2vh;
  }

  span{
    font-size: 3vh;
  }

  .proyect{
    margin: 2vh auto;
    padding: 2vh;
    width: 80%;
    background-color: var(--blueSecondarie);
    border-radius: 1vh;
  }

  .container-proyects{
    flex-direction: column;
  }

}